clients requirements:- 



quick overview benefits of steam cleaning compared to regular car detailing!
use stockphotos 
forside-(home - this will be the link from the logo)
kundeservice(support -  can you add a drop down menu on frequently asked questions?)


don't 

content will be writen by client 